<h2 class="to">Edit</h2>
<hr />


    <angucomplete id="wordA"
      placeholder="From"
      pause="400"
      selectedobject="wordA"
      initialvalue="{{Model.Memo.wordA.word}}"
      url="{{wordListFromUrl}}"
      titlefield="Word"
      inputclass="form-control form-control-small"/>


    <angucomplete id="wordB"
      placeholder="To"
      pause="400"
      initialvalue="{{Model.Memo.wordB.word}}"
      selectedobject="wordB"
      url="{{wordListToUrl}}"
      titlefield="Word"
      inputclass="form-control form-control-small"/>

<div class="top">

    <div class="languages">
        <span class="from">{{Model.Memo.wordA.languageIso639}}</span>
        <span class="to">{{Model.Memo.wordB.languageIso639}}</span>
    </div>
</div>

<div class="details">
    <label>
        Description From:
        <textarea  ng-model="Model.Memo.wordA.description">
        </textarea>
    </label>
    <label>
        Description To:
        <textarea ng-model="Model.Memo.wordB.description">
        </textarea>
    </label>
</div>

<div class="saveBtn" ng-click="onSaveEdit(Model.Memo, wordA.title, wordB.title)">
    Save
</div>