<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.memoling.android"
    android:versionCode="2"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme" >
        
        <!-- Activities -->
        <activity
            android:name="app.memoling.android.ui.activity.MemoListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_memolist"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.MemoBaseListActivity"
            android:label="@string/title_activity_memobaselist"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.MemoActivity"
            android:label="@string/title_activity_memo"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.MemoBaseActivity"
            android:label="@string/title_activity_memobase"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.ReviewActivity"
            android:label="@string/title_activity_review"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.SchedulerActivity"
            android:label="@string/title_activity_scheduler"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.FbLoginActivity"
            android:label="@string/title_activity_fb_login" >
        </activity>
        <activity
            android:name="app.memoling.android.ui.activity.DownloadActivity"
            android:label="@string/title_activity_download"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- Receivers -->
        <receiver
            android:name="app.memoling.android.schedule.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Not real part of application -->
        <activity
            android:name="app.memoling.android.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>