html, body {
	margin:0 auto;
	padding:0;
	height:100%;
}

body {
	background: url(../img/bkg2.png);
	color: #ddd;
	font-family: Verdana;
	//text-align: center;
}

#wrapper {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

#top {
	position: relative;
	text-align: left;
	background: #111;
	min-width: 100%;
	border-bottom: 3px solid #bbb;
}

#top_content {
	padding: 5px 10px 2px 10px;
	border-bottom: 1px solid #eee;
}

#top_content a {
	font-size: 12px;
	padding: 11px;
	color: #ddd;
	text-decoration: none;
	border: 0px;
}

#top_content a:hover {
	font-size: 12px;
	padding: 11px;
	background: #eee;
	color: #222;
	text-decoration: none;
	border: 0px;
}

#top_content a img {
	border: 0px;
}

#memoling_link {
	text-decoration: 0px;
	border: 0px;
	padding: 0px !important;
	background: none !important;
}

#memoling_link:hover{
	text-decoration: 0px;
	border: 0px;
	padding: 0px !important;
	background: none !important;
}

#main {
	position: relative;
	margin: 10px;
	padding: 10px;
	//text-align: center;
	margin-bottom: -280px;
}

#main_content {
	padding-bottom: 160px;
}

#footer {
	position: absolute;
	left: 0px;
	text-align: left;
	min-width: 100%;
	bottom: 0px;
	left: 0px;
	height: 100px;
	border-top: 5px solid #222;
	background: url(../img/bkg.png);
}

#footer_content {
}

#footer_content a img {
	border: 0px;
}

#footer_links {
	position: absolute;
	right: 0px;
	font-size: 10px;
	display: inline-block;
	margin-left: 10px;
	padding-top: 10px;
}

#footer_links a {
	text-decoration: none;
	color: #eee;
	padding: 10px;
}

#footer_links a:hover {
	text-decoration: none;
	color: #eee;
	background: #222;
	padding: 10px;
}

@media all and (max-width: 320px) {
	
	#footer_links a  {
		display: block;	
	}
    
	
	#top  {
		font-size: 10px;
	}
}

#footer_logo {
	position: absolute;
	bottom:105px;
	right:0px;
	height: 95px;
	opacity: 0.4;
}

.fb-login-button {
    display: inline-block !important;
    width: auto !important;
}


#toast {
    position: fixed;
    top: 60px;
    right: 30px;
    padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
    font-family: 'Open Sans';
    display: none;
    
    background: #222222; /* Old browsers */
background: -moz-linear-gradient(top,  #222222 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #222222 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #222222 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #222222 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #222222 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#toast h2 {
    margin-top: 3px;
    margin-bottom: 4px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}
    
#toast h3 {
    margin-top: 0px;
    margin-bottom: 4px;
    padding-top: 0px;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
}